<% provide(:title, "Edit User Password") %>
<h1>アカウント設定</h1>

<%= link_to "メールアドレス・パスワード変更", edit_password_path(@user.id), class: "btn btn-primary" %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @user) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <div class="text-center">
      <%= f.submit "保存する", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>