<% provide(:title, @user.name) %>
<h1>
  <%= @user.name %>
</h1>
<p>ベストスコア: <%= @user.best_score %> スコア</p>
<p>ゴルフ歴: <%= @user.golf_experience %> 年</p>
<%= link_to "アカウント設定", edit_user_path(current_user), class: "btn btn-primary" %>
<%= link_to "お問い合わせ", current_user, class: "btn btn-primary" %>
<%= link_to "ログアウト", logout_path, class: "btn btn-primary", data: { "turbo-method": :delete } %>
