<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <% if logged_in? %>
      <%= link_to "Pro Coach", main_top_pages_path, id: "logo" %>
    <% else %>
      <%= link_to "Pro Coach", root_path, id: "logo" %>
    <% end %>
    <nav>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only"><%= link_to "スコア登録", golf_courses_path %></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav navbar-right">       
          <% if logged_in? %>
            <li><%= link_to "スコア登録", golf_courses_path %></li>
            <li><%= link_to "過去のスコア", past_scores_path %></li>
            <li><%= link_to "練習メニュー", main_top_pages_path %></li>
            <li><%= link_to "練習メニューを作成", new_practice_day_path %></li>
            <% if current_user.admin? %>
              <li><%= link_to "練習アドバイス作成", new_practice_menu_path %></li>
              <li><%= link_to "練習アドバイス一覧", practice_menus_path %></li>
            <% end %>
            <li>
              <%= link_to user_path(current_user) do %>
                <i class="fas fa-user"></i> <%= current_user.name %>
              <% end %>
            </li>
          <% else %>
            <li><%= link_to (t 'defaults.register'),   new_user_path %></li>
            <li><%= link_to (t 'defaults.login'), new_session_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>
</header>
